  body {
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: Arial, sans-serif;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    margin-left: 480px;
  }

  .title1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ff6b6b;
    margin-bottom: 1rem;
   margin-left: -415px;
  }

  .section-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ff6b6b;
    margin-bottom: 1rem;
    margin-left: 10px;
  }

  .section-description {
    font-size: 22px;
    color: #4b4c4d;
    margin-top: 1rem;
    line-height: 1.5;
    text-align: center;
    width: 1500px;
    margin-left: -400px;

  }

  .intro-description {
    font-size: 22px;
    color: #374151;
    margin-top: 1rem;
    line-height: 1.5;
    text-align: center;
    width: 1500px;
    margin-left: -383px
  }

  .section .anh1 {
    width: 1500px;
    height: 500px;
    object-fit: cover;
    margin-left: -370px;
  }

  .container h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #ff6b6b;
    margin-bottom: 1rem;
    margin-left: -430px;
  }
