.logout-button {
   
    background-color: #2545ac; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease-in-out;

    &:hover {
        background-color: #ffffff; 
    }

    &:active {
        background-color: #2545ac;
    }
}
